<!DOCTYPE html>

{% extends "dare2ask/base.html" %}
{% block title_bock %}
	Change password
{% endblock %}
{% block header %}
	Change your password
{% endblock %}
{% block headertext %}
	<form method="post" action=".">
  		{% csrf_token %} 
 		{{ form.as_p }}

  		<input type="submit" value="{% trans 'Submit' %}" />
	</form>
{% endblock %}
{% block headerlowleft %}
{% endblock %}
{% block textlowleft %}
{% endblock %}
{% block headerlowright %}
{% endblock %}
{% block textlowright %}
{% endblock %}