<!DOCTYPE html>
<style>
	.button1{
		font-size: 20px;
		 color: #0099CC;
		 background: transparent;
		 border: 2px solid #0099CC;
		 border-radius: 6px;
		 transition-duration: 0.4s;
		 cursor: pointer;

	 
	}
	.button1:hover {
		color: #DA70D6;
		background-color: #008CBA;
		color: white;
	}
	.button1:active {
		color: #DA70D6;
		position:relative;
		top:1px;
	}

</style>

{% extends "dare2ask/base.html" %}
{% load staticfiles %}
<link href="http//v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% block title_block %}
	Register
{% endblock %}

{% block header %}
	<div class="reglog_banner">
		<h1 class="reglog_text">Register</h1>
	</div>
{% endblock %}
{% block headertext %}
	<form role="form"  method="post" action=".">
    	{% csrf_token %}
    	<h2 class="form-signin-heading">
			Please fill out your details below
		</h2>
		{% if form.errors %}
		<div class="alert"> <strong>The following errors have occurred:</strong><br/></div>
		{% endif %}
    	{% for field in form.visible_fields %}
    		{% if field.errors %}
    		<div class="alert">
                {{ field.name }} : {{ field.errors }}
            </div>
            {% endif %}
		{% endfor %}
		<div class="form-group" >

			<p class="required">
				<label class="required" for="id_username" class="sr-only">
        		</label>
        		<input class="reglog_input" id="id_username" maxlength="30" name="username" type="text" placeholder="Username" required autofocus/>
				<span class="helptext">
					Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.
				</span>
			</p>
			<p class="optional">
				<label class="required" for="id_email" class="sr-only">
        		</label>
        		<input class="reglog_input" id="id_email" name="email" type="email" placeholder="E-mail" required autofocus/>
			</p>
			<p class="required">
				<label class="required" for="id_password1" class="sr-only">
        		</label>
        		<input class="reglog_input" id="id_password1" name="password1" type="password" placeholder="Password" required autofocus/>
    		</p>
    		<p class="required">
				<label class="required" for="id_password2" class="sr-only">
				</label>
        		<input class="reglog_input" id="id_password2" name="password2" type="password"  placeholder="Password confirmation" required autofocus/>
				<span class="helptext">
					Enter the same password as before, for verification.
				</span>
			</p>
		</div>
    	<button type="submit" class="button1">
    		Submit
    	</button>
	</form>
{% endblock %}
{% block headerlowleft %}
{% endblock %}
{% block textlowleft %}
{% endblock %}
{% block headerlowright %}
{% endblock %}
{% block textlowright %}
{% endblock %}
