<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}">
{% block title_block %}
	About Dare2Ask!
{% endblock %}

{% block body_block %}
	<div>
		<h1> Dev Team</h1>
		<div class= "aboutUs">
			<h3>About the project</h3>
			<p>
				A project in WAD2 building a website.
				Real time forum app for students to ask questions in lectures.

			</p>
		</div>

			<div class="dev">
				<h3>Developer 1</h3>
					<img src="{% static "images/developer.png" %}"
				alt="Picture of developer"/>
				<p>
				Stronger unpacked felicity to of mistaken. Fanny at wrong table ye in. Be on easily cannot innate in lasted months on. Differed and and felicity steepest mrs age outweigh. Opinions learning likewise daughter now age outweigh.
			</p>
			</div>

			<div class="dev">
				<h3>Developer 2</h3>
					<img src="{% static "images/developer.png" %}"
				alt="Picture of developer"/>
				<p>
				Stronger unpacked felicity to of mistaken. Fanny at wrong table ye in. Be on easily cannot innate in lasted months on. Differed and and felicity steepest mrs age outweigh.
			</p>
			</div>

			<div class="dev">
				<h3>Developer 3</h3>

				<img src="{% static "images/developer.png" %}"
				alt="Picture of developer"/>
				<p>
				Stronger unpacked felicity to of mistaken. Fanny at wrong table ye in. Be on easily cannot innate in lasted months on. Differed and and felicity steepest mrs age outweigh.
			</p>
			</div>
	</div>



{% endblock %}

{% block body_block_2 %}
{% endblock %}
