<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}"> -->
{% block title_block %}
	About Dare2Ask!
{% endblock %}

{% block header %}
	About Dare2Ask
{% endblock %}
{% block headertext %}
	<div>
		<br/>
		<h1>About the project</h1>
		Real time forum app for students to ask questions in lectures.<br />
		Project for Web App Development 2 at the University of Glasgow.
		<br/>
		<br/>
		<h1> Dev Team</h1>
		<div class= "aboutUs">
			<p>
				We are a ragtag group of exchange students whose paths crossed in WAD2. Some would say it was chance, but we prefer to think of it as fate.
			</p>
		</div>

			<div class="dev">
				<h3>Kendra Swanson</h3>
				<img src="{% static "images/wizard.jpg" %}"
				alt="Picture of developer"/>
				<p>
					Country of origin: United States<br />
					School of study: Smith College<br />
					Favorite food: pancakes<br />
					If she could turn into any animal, she would become: a shark.
				</p>
			</div>

			<div class="dev">
				<h3>Daniel Jiang</h3>
					<img src="{% static "images/sneaky_developer.jpg" %}"
				alt="Picture of developer"/>
				<p>
					Country of origin: Australia<br />
					School of study: University of Sydney<br />
					Favorite food: Fruit<br />
					He really misses the sun, sand and surf back home.	</p>
			</div>

			<div class="dev">
				<h3>Yvonne van den Broek</h3>
				<img src="{% static "images/swing.jpg" %}"
				alt="Picture of developer"/>
				<p>
					Homeland: The Netherlands<br />
					Home university: Radboud Universiteit Nijmegen<br />
					Annoyingly excitable when code works<br />
					Terribly irritable when it doesn't<br />
					Would love to be a bird someday<br />
				</p>
			</div>

			<div class="dev">
				<h3>Eivind Falun</h3>
					<img src="{% static "images/developer.png" %}"
				alt="Picture of developer"/>
				<p>
					Country of origin: Norway<br />
					School of study: Norwegian University of Science and Technology<br />
					Favorite food: tacos<br />
			</div>
	</div>



{% endblock %}

{% block headerlowleft %}
{% endblock %}
{% block textlowleft %}
{% endblock %}
{% block headerlowright %}
{% endblock %}
{% block textlowright %}
{% endblock %}