<!DOCTYPE html>
{% load staticfiles %}
{% load dare2ask_template_tags %}

<!-- To do list:
  - Make everything actually pretty using CSS
-->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'images/Logo.png' %}">
  <title>
    {% block title_block %}
      BASE TITLE
    {% endblock %}
  </title>
  <!-- Bootstrap core CSS -->
  <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href= "http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/Logo.png' %}" width="82"></a>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_logout' %}?next=/dare2ask/">
          Logout    |
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dare2ask:profile' user.username %}">Logged in as: {{ user.username }}           <img src="{{ MEDIA_URL }}{{ userprofile.picture }}" with="30" height="30"></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration_register' %}">
          Register Here
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_login' %}">
          Login
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
          {% block sidebar_block %}
            <a class="nav-link" href="{% url 'dare2ask:about' %}" style="position:absolute;top:100px">
              About
            </a>
          {% endblock %}
    </div>
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main" style="position:absolute;top:100px">
          {% block body_block %}
            This is the body_block's default content.
          {% endblock %}
    </div>
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main" style="position:absolute;top:400px">
          {% block body_block_2 %}
            This is the second body_block's default content.
          {% endblock %}
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js">
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src= "http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js">
    </script>
</body>
</html>
