<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {% if lecture.title %}
    {{ lecture.title }}
  {% else %}
    Lecture not found
  {% endif %}
{% endblock %}

{% block body_block %}
  {% if lecture.title %}
    <h1>{{ lecture.title }}</h1>
    <div>
      <form id="question_form" method="post" action="/dare2ask/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
          {{ field.errors }}
          {{ field.help_text}}
          {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Create Question" />
      </form>
    </div>
    <div>
      {% if questions %}
        <h3>Questions:</h3>
        <ul>
          {% for question in questions %}
            <li>{{ question.text }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <div>No questions have been asked</div>
      {% endif %}
    </div>
  {% else %}
    <h1>Lecture not found!</h1>
    <div>
      A lecture with this name does not exist. </br>
      <a href = "{% url 'dare2ask:lecture' %}">Try another </a>
    </div>
  {% endif %}
{% endblock %}

{% block body_block_2 %}
  {% if lecture.title %}
    {% if user.is_staff %}
      <h1>Delete the lecture!</h1>
      <button onclick="window.location.href =
        '/dare2ask/delete/{{lecture.slug}}/confirm';">Delete!</button>
    {% endif %}
  {% endif %}
{% endblock %}
