<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ lecture.title }}
{% endblock %}

{% block body_block %}
  <h1>Look at the questions!</h1>
  <div>
    QUESTIONS WILL GO HERE
  </div>
{% endblock %}

{% block body_block_2 %}
  {% if user.is_staff %}
    <h1>Delete the lecture!</h1>
    <form id="delete_form" \
      method="GET" action="/dare2ask/in_lecture/">
      <input type="submit" name="submit" value="Delete Lecture" />
    </form>
  {% endif %}
{% endblock %}
