<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Dare2Ask!
{% endblock %}

{% block header %}
<div>
	<ul>
		{% if user.is_authenticated %}
			<h1>Hi, {{user}}! </br> </h1>
		{% endif %}
		<p>Welcome to Dare2Ask!</p><br />
	</ul>
</div>
{% endblock %}
{% block headertext %}
{% if user.is_authenticated %}
	<div class="buttonsIndex">
	<button onclick="window.location.href = '{% url 'dare2ask:lecture' %}'" class="button1">
	{% if user.userprofile.lecturer %}
		Create or Join a Lecture
	{% else %}
		Join a Lecture
	{% endif %}
	</button>
	<!--<a href="{% url 'auth_logout' %}?next=/dare2ask/" class=button1>Logout</a> -->
{% else %}
	<button onclick="window.location.href='{% url 'registration_register' %}'" class="button1"> Register with us to get started!</button>
</div>
{% endif %}
{% endblock %}
{% block headerlowleft %}
{% endblock %}
{% block textlowleft %}
{% endblock %}
{% block headerlowright %}
{% endblock %}
{% block textlowright %}
{% endblock %}
