<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
	<div>
		<br /><br /><br /><br /><br /><br />
	</div>
	Dare2Ask!
{% endblock %}

{% block body_block %}
<div>
	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
	<ul>
		{% if user.is_authenticated %}
			<li><a href = "{% url 'dare2ask:lecture' %}">Add a New Category</a></li>
			<li><a href = "accounts/password/change">Change Password</a></li>
			<li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
		{% endif %}
		<a href="{% url 'index' %}">Index</a><br />
	</ul>
</div>
{% endblock %}
