<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {% if user.is_staff %}
    Create or Join a Lecture
  {% else %}
    Join a Jecture
  {% endif %}
{% endblock %}

{% block header %}
  {% if user.userprofile.lecturer %}
  <h1>Create or join a Lecture</h1>
  {% else %}
  <h1>Join a lecture</h1>
  {% endif %}
{% endblock %}
{% block headertext %}
{% endblock %}
{% block headerlowleft %}
<h1>Join a Lecture</h1>
{% endblock %}
{% block textlowleft %}
  <div>
    {% if lectures %}
      <ul>
      {% for lecture in lectures %}
        <li>
          <a href="{{ lecture.slug }}">
            {{ lecture.title }} </a>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      No lectures open right now!
    {% endif %}
  </div>
{% endblock %}
{% block headerlowright %}
  {% if user.userprofile.lecturer %}
    <h1>Create a lecture</h1>
  {% endif %}
{% endblock %}
{% block textlowright %}
  {% if user.userprofile.lecturer %}
    <div>
      <form id="lecture_form" \
      method="post" action="/dare2ask/lecture/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
          {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}
            {{ field }}
        {% endfor %}
        <input class="button1" type="submit" name="submit" value="Create Lecture" />
      </form>
    </div>
  {% endif %}
{% endblock %}

