<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {% if user.is_staff %}
    Create or Join a Lecture
  {% else %}
    Join a Jecture
  {% endif %}
{% endblock %}

{% block header %}
  {% if user.userprofile.lecturer %}
  <h1>Create or join a Lecture</h1>
  {% else %}
  <h1>Join a lecture</h1>
  {% endif %}
{% endblock %}

{% block headertext %}
{% endblock %}

{% block headerlowleft %}
<h1>Join a Lecture</h1>
{% endblock %}
{% block textlowleft %}
  <div>
    {% if lectures %}
      <ul>
      {% for lecture in lectures %}
        <li>
          <a href="{{ lecture.slug }}">
            {{ lecture.title }} </a>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      No lectures open right now!
    {% endif %}
  </div>
{% endblock %}
{% block headerlowright %}
  {% if user.userprofile.lecturer %}
    <h1>Create a lecture</h1>
  {% endif %}
{% endblock %}
{% block textlowright %}
  {% if user.userprofile.lecturer %}
    <div>
      <form id="lecture_form" \
      method="post" action="/dare2ask/lecture/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
          {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}
            {{ field }}
        {% endfor %}
        <input type="submit" name="lecture" value="Create Lecture" />
      </form>
    </div>
  {% endif %}
  <div>
    <!-- <h1>Search for a lecture</h1>
    <form id="search_form" \
    method="get" action="/dare2ask/lecture/">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
        {% for field in form.visible_fields %}
          {{ field.help_text}}
          {{ field }}
      {% endfor %}
      <input type="submit" name="search" value="Search" />
    </form> -->
    <form class = "form-inline my-2 my-lg-1">
      <input
        class = "form-control mr-sm-2"
        type = "search"
        placeholder = "Lecture Name"
        area-label = "Search2"
        name = "search"
      >
      <input type="submit" />
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search4</button> -->
  </div>
{% endblock %}
