<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {% if user.is_staff %}
    Create or Join a Lecture
  {% else %}
    Join a Jecture
  {% endif %}
{% endblock %}

{% block body_block %}
  <h1>Create a Lecture</h1>
  {% if user.is_staff %}
    You are staff!
    <div>
      <form id="lecture_form" \
      method="post" action="/dare2ask/lecture/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
          {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Create Lecture" />
      </form>
    </div>
  {% else %}
    You are not staff! You can't create a lecture :(
  {% endif %}
{% endblock %}

{% block body_block_2 %}
  <h1>Join a Lecture</h1>
  <div>
    {% if lectures %}
      <ul>
      {% for lecture in lectures %}
        <li>
          <a href="{{ lecture.slug }}">
            {{ lecture.title }} </a>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      No lectures open right now!
    {% endif %}
  </div>
{% endblock %}
