<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block header %}
<h1>Login to Dare2Ask</h1>
{% endblock %}
{% block headertext %}
<form id="login_form" method="post" action="{% url 'dare2ask:login' %}">
	{% csrf_token %}
	{{ Username.errors }}
	{{ Password.errors }}
	Username: <input type="text" name="username" value ="" size="50" /> <br />
	Password: <input type="password" name="password" value="" size="50" /><br />
	<input type="submit" value="submit" />
</form>
{% endblock %}