<!DOCTYPE html>
<style>
	.button1{
		font-size: 20px;
		 color: #0099CC;
		 background: transparent;
		 border: 2px solid #0099CC;
		 border-radius: 6px;
		 transition-duration: 0.4s;
		 cursor: pointer;

	 
	}
	.button1:hover {
		color: #DA70D6;
		background-color: #008CBA;
		color: white;
	}
	.button1:active {
		color: #DA70D6;
		position:relative;
		top:1px;
	}

</style>
{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ selecteduser.username }} Profile
{% endblock %}

{% block header %}
<h1>{{ selecteduser.username }}'s Profile</h1>
{% endblock %}
{% block headertext %}
<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
	 width="300"
	 height="300"
	 alt="{{selecteduser.username}}" />
<br/>
<div>
	{% if selecteduser.username == user.username %}
		<form method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Update" class="button1" />
		</form>
		<a class="button1" href ="{% url 'auth_password_change' %}">Change Password</a>
	{% else %}
	<p><strong>You do not have permission to edit this profile</strong></p>
	{% endif %}
</div>
<div id="edit_profile"></div>
{% endblock %}

{% block headerlowleft %}
{% endblock %}
{% block textlowleft %}
{% endblock %}
{% block headerlowright %}
{% endblock %}
{% block textlowright %}
{% endblock %}
