<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ selecteduser.username }} Profile
{% endblock %}

{% block header %}
<h1>{{ selecteduser.username }}'s Profile</h1>
{% endblock %}
{% block headertext %}
<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
	 width="300"
	 height="300"
	 alt="{{selecteduser.username}}" />
<br/>
<div>
	{% if selecteduser.username == user.username %}
		<form method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Update" />
		</form>
		<a href ="{% url 'auth_password_change' %}">Change Password</a>
	{% else %}
	<p><strong>You do not have permission to edit this profile</strong></p>
	{% endif %}
</div>
<div id="edit_profile"></div>
{% endblock %}

{% block headerlowleft %}
{% endblock %}
{% block textlowleft %}
{% endblock %}
{% block headerlowright %}
{% endblock %}
{% block textlowright %}
{% endblock %}