<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Registration - Step 2
{% endblock %}
<link href="http"//v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% block header %}
<div class="jumbotron">
		<h1 class="display-3">Register - Step 2</h1>
	</div>
{% endblock %}
{% block headertext %}
	<form method="post" action="." enctype="multipart/form-data">
		{% csrf_token %}
		<!-- {{ form.as_p }} -->
		<div class="reg2">
		{% for field in form.visible_fields %}
			<a class="fieldname">{{field.name}} :</a> {{ field }} 
		{% endfor %}
		</div>
		<br/>
		<input type="submit" value="Submit or skip" />
	</form>
{% endblock %}
{% block headerlowleft %}
{% endblock %}
{% block textlowleft %}
{% endblock %}
{% block headerlowright %}
{% endblock %}
{% block textlowright %}
{% endblock %}