<!DOCTYPE html>

{% extends 'dare2ask/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<h1>Register for Dare2Ask</h1>
	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'dare2ask:index' %}">Return to the homepage.</a><br />
	{% else %}
		<strong>Register here!</strong><br />
		<form id="user_form" method="post" action="{% url 'dare2ask:register' %}" enctype="multipart/form-data">

		{% csrf_token %}

		<!-- Distplay each form -->
		{{ user_form.as_p }}
		{{ profile_form.as_p }}

		<!-- Provide a button to click to submit the form -->
		<input type="submit" name="submit" value="Register" />
	</form>
	{% endif %}
{% endblock %}