

/*
    Styling for about.html
*/

.aboutUs{
  margin:20px;
  padding-bottom: 20px;
}

/*
    Three columns
*/
.dev{
  float:right;
  width:33.3%;
  font-family: Arial, Helvetica,sans-serif;
  font-weight: normal;

  padding-left:7px;
  padding-right: 7px;
  padding-bottom: 15px;
}

.dev img{
  position: relative;
  left:70px;
  height: 100px;
  width: 100px;

}

/*
    Styling index.html
*/

/*
    Styling registration_form.html
*/

.helptext{
  color: #f57921;
}

.alert{
  color: red;
}

.reg2{
  margin:auto;
}

.fieldname{
  font-size: 2em;
}